<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/javascripts/materialize.js"></script>

    <title>BikeShop - Home</title>
    </head>
    <body>
        


            <!-- HEADER -->
                <nav>
                    <div class="nav-wrapper  navbar-light bg-dark">
                      <a href="#!" class="brand-logo">  <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">  The Bike Shop Experience</a>
                      <ul class="right hide-on-med-and-down">
                        <li><a href="/shop"><i class=" material-icons right iconShop large">shopping_cart</i><%= nbProduit %> article</a></li>
                      </ul>
                    </div>
                  </nav>

      
            <!-- JUMBOTRON -->


                <div class=" jumbotron jumbotron-fluid">
                </div>
            

            <!-- card -->
            <div class='row col-8'>
                <% 
                for(var i=0;i<dataBike.length;i++){
                %>
                <div class= "cardAll col-12 col-sm-6  col-md-4">
                    <div class= "cardHome card"> 
                            <img src=<%= dataBike[i].url%> class="card-img-top">

                            <div class="card-body text-center">
                                <p class="card-title cardName"><%= dataBike[i].name%></p>
                                <div class="divider"></div>
                                <p class="card-title cardPrice"><%= dataBike[i].price%>€</p>

                                <div class="card-content cardbutton">
                                
                                    <a href="/shop?bikeNameFromFront=<%= dataBike[i].name%>&bikePriceFromFront=<%= dataBike[i].price%>&bikeImageFromFront=<%= dataBike[i].url%>" class="waves-effect waves-light btn blue-grey darken-4 itembutton">Buy</a>
                                    <a href="/description?bikeNameFromFront=<%= dataBike[i].name%>" class="waves-effect waves-light btn blue-grey darken-1 itembutton">Description</a>
                                 </div>
                            </div>    
                     </div>
                </div>             
                <% } %>
            
        </div>      
    

        


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
   
    </body>
</html>
